<!DOCTYPE html>
<html	lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
       	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorator="~{fragments/layout_usuario_logado}">
<head>
	<meta charset="UTF-8">
	<title>Editar</title>
</head>
<body>
	<th:block layout:fragment="content">
        <div class="profissionalSaudeForm container-fluid">
            <h2 class="text-secondary mb-4 mt-4 text-center">EDITAR RESTAURANTE</h2>
            <form class="ml-md-5 mr-md-5 mb-5" method="POST" th:object="${profissional}" th:action="@{/profissional/salvar}">
                <div th:if="${message}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${message}]]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{pessoa.id}"/>
                <input type="hidden" th:field="*{pessoa.usuario.id}"/>
                <input type="hidden" th:field="*{pessoa.endereco.id}"/>

                <div class="form-row border-bottom my-5">
                    <h5 class="mb-0">Dados profissionais</h5>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="nomeProfissionalSaudeInput">Nome do Restaurante</label> <input
                            class="form-control" id="nomeProfissionalSaudeInput" type="text"
                            th:field="*{pessoa.nome}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.nome')}" th:errors="*{pessoa.nome}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cpfInput">CNPJ</label> <input class="form-control"
                                                                 id="cpfInput" type="text" th:field="*{pessoa.cpfOuCnpj}"
                                                                 data-mask="00.000.000/0000-00" data-mask-reverse="true"
                                                                 required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.cpfOuCnpj')}"
                                 th:errors="*{pessoa.cpfOuCnpj}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="emailProfissionalSaudeInput">E-mail</label> <input
                            class="form-control" id="emailProfissionalSaudeInput" type="text"
                            th:field="*{pessoa.email}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.email')}"
                                 th:errors="*{pessoa.email}">errors</div>
                        </div>
                    </div>
                </div>

                <div class="form-row border-bottom my-5">
                    <h5 class="mb-0">Especificações do estabelecimento</h5>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                       <label for="quantidadeMesasProfissionalInput">Quantidade de mesas</label>
                       <input class="form-control" id="quantidadeMesasProfissionalInput"
                       		type="number" th:field="*{quantidadeMesas}" required="required" />
                       <div style="color: red;">
                           <div th:if="${#fields.hasErrors('quantidadeMesas')}"
                                th:errors="*{quantidadeMesas}">errors</div>
                       </div>
                   </div>
                   <div class="form-group col-md-4">
                       <label for="cadeirasPorMesaProfissionalInput">Quantidade de cadeiras por mesa</label>
                       <input class="form-control" id="cadeirasPorMesaProfissionalInput"
                       		type="number" th:field="*{cadeirasPorMesa}" required="required" />
                       <div style="color: red;">
                           <div th:if="${#fields.hasErrors('cadeirasPorMesa')}"
                                th:errors="*{cadeirasPorMesa}">errors</div>
                       </div>
                   </div>
                </div>
                
                <div class="mb-3">
				  <label for="descricaoProfissionalInput" class="form-label">Descrição</label>
				  <textarea class="form-control" id="descricaoProfissionalInput" rows="3" th:field="*{descricao}" required="required"></textarea>
				</div>


                <div class="form-row border-bottom my-5">
                    <h5 class="mb-0">Dados sobre endereço comercial</h5>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cepProfissionalInput">CEP</label>
                        <input type="text" class="form-control" id="cepProfissionalInput" data-mask="00000-000" th:field="*{pessoa.endereco.cep}" required="required">
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.endereco.cep')}"
                                 th:errors="*{pessoa.endereco.cep}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ruaProfissionalInput">Rua</label> <input
                            class="form-control" id="ruaProfissionalInput" type="text"
                            th:field="*{pessoa.endereco.rua}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.endereco.rua')}"
                                 th:errors="*{pessoa.endereco.rua}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="bairroProfissionalInput">Bairro</label> <input
                            class="form-control" id="bairroProfissionalInput" type="text"
                            th:field="*{pessoa.endereco.bairro}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.endereco.bairro')}"
                                 th:errors="*{pessoa.endereco.bairro}">errors</div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="complementoProfissionalInput">Complemento</label>
                        <input type="text" class="form-control" id="complementoProfissionalInput" th:field="*{pessoa.endereco.complemento}" required="required">
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.endereco.complemento')}"
                                 th:errors="*{pessoa.endereco.complemento}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="numeroProfissionalInput">Número</label> <input
                            class="form-control" id="numeroProfissionalInput" type="number"
                            th:field="*{pessoa.endereco.numero}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.endereco.numero')}"
                                 th:errors="*{pessoa.endereco.numero}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cidadeProfissionalInput">Cidade</label> <input
                            class="form-control" id="cidadeProfissionalInput" type="text"
                            th:field="*{pessoa.endereco.cidade}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.endereco.cidade')}"
                                 th:errors="*{pessoa.endereco.cidade}">errors</div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </form>

        </div>
</body>
</html>