<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<th:block th:fragment="validadorDashboard">
    <h2 class="text-secondary mt-4 mb-4 text-center">Restaurantes não validados</h2>
    <div class="ml-md-5 mr-md-5 mb-5">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Lista de restaurantes aguardando validação
        </div>
        <div class="card-body">
          <table id="datatablesSimple">
            <thead>
            <tr>
              <th>Nome do estabelecimento</th>
              <th>CNPJ</th>
              <th>Situação </th>
              <th>Opção</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="profissional : ${profissionais}">
              <td th:text="${profissional.pessoa.nome}"></td>
              <td th:text="${profissional.pessoa.cpfOuCnpj}"></td>
              <td th:text="${profissional.situacaoProfissionalSaude.descricao}"></td>

              <td class="actions-col">
                <a th:data-id="${profissional.id}" data-toggle="modal" data-target="#exampleModal" id="btnValidar" class="btn btn-action" >
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  <!-- Modal validador -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">VALIDAR/INVALIDAR RESTAURANTE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="container-fluid ml-md-5 mr-md-5 mb-5" method="POST"  th:action="@{/validador/salvarProfissional}">
            <div class="form-row">
              <input type="hidden" name="profissionalId" value=""/>
              <div class="form-group col-md-8">
                <label class="text-secondary text-center" for="autorizacaoInput">Autorização</label>
                <select class="form-control mx-auto" name="autorizacao" id="autorizacaoInput" required>
                  <option value="" selected>Escolha</option>
                  <option value=true>Atendimento autorizado</option>
                  <option value=false>Atendimento não autorizado</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label class="text-secondary text-center" for="justificativaInput">Justificativa</label>
                <select class="form-control mx-auto" name="justificativa" id="justificativaInput" required>
                  <option value="" selected>Escolha</option>
                  <option th:each="situacaoProfissional : ${T(br.ufrn.PDSgrupo5.framework.enumeration.EnumSituacaoProfissionalSaude).values()}"
                          th:value="${situacaoProfissional}" th:text="${situacaoProfissional.descricao}"></option>
                </select>
              </div>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>

      </div>
    </div>
  </div>

</th:block>


<th:block th:fragment="clienteDashboard">

  <div class="ml-md-5 mr-md-5 mb-5">
    <div class="form-row border-bottom my-5">
      <h5 class="text-secondary mt-4 mb-4">Próximos atendimentos</h5>
    </div>
    <div class="container-fluid" th:if="${#lists.isEmpty(proximosAtendimentos)}">
      <p class="text-center text-secondary">Nenhum atendimento encontrado</p>
    </div>
    <div class="container-fluid" th:unless="${#lists.isEmpty(proximosAtendimentos)}"  th:each="atendimento : ${proximosAtendimentos}">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title"><span th:text="'Atendimento para '+${atendimento.tipoAtendimento}"></span></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <span th:text="'Restaurante: '+${#strings.abbreviate(atendimento.profissional.pessoa.nome, 50)}"></span>
          </h6>
          <span class="card-text">
            <p th:text="'Horário: '+${#dates.format(atendimento.horarioAtendimento.horarioInicio, 'dd/MM/yyyy HH:mm')} + '-' +${#dates.format(atendimento.horarioAtendimento.horarioFim, 'HH:mm')}"></p>
            <p th:text="'Taxa de reserva: '+${atendimento.horarioAtendimento.precoToString()}"></p>
            <p th:if="!${atendimento.confirmado}">Aguardando confirmação do restaurante</p>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="ml-md-5 mr-md-5 mb-5" id="agendar">
    <div class="form-row border-bottom my-5">
      <h5 class="text-secondary mt-4 mb-4">Agendar atendimento</h5>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Restaurantes disponíveis para agendamento
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
          <tr>
            <th>Nome</th>
            <th>Opção</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="profissional : ${profissionais}">
            <td th:text="${profissional.pessoa.nome}"></td>

            <td class="actions-col">
              <a th:href="${(#mvc.url('CC#visualizarProfissional').arg(0, profissional.id)).build()}" id="btnVisualizarProfissional" class="btn btn-action">
                <i class="fa fa-eye"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</th:block>

<th:block th:fragment="profissionalDashboard">
  <div class="ml-md-5 mr-md-5 mb-5">
    <div class="form-row border-bottom my-5">
      <h5 class="text-secondary mt-4 mb-4">Atendimentos aguardando confirmação</h5>
    </div>
    <div class="container-fluid" th:if="${#lists.isEmpty(atendimentosStatusPendente)}">
      <p class="text-center text-secondary">Nenhum atendimento aguardando confirmação</p>
    </div>
    <div class="container-fluid" th:unless="${#lists.isEmpty(atendimentosStatusPendente)}" th:each="atendimento : ${atendimentosStatusPendente}">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title"><span th:text="'Atendimento para '+${atendimento.tipoAtendimento}"></span></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <span th:text="'Cliente: '+${#strings.abbreviate(atendimento.cliente.pessoa.nome, 50)}+ ' - ' +${#strings.abbreviate(atendimento.cliente.pessoa.email, 50)}"></span>
          </h6>
          <span class="card-text">
            <p th:text="'Horário: '+${#dates.format(atendimento.horarioAtendimento.horarioInicio, 'dd/MM/yyyy HH:mm')} + '-' +${#dates.format(atendimento.horarioAtendimento.horarioFim, 'HH:mm')}"></p>
            <p th:text="'Taxa de reserva: '+${atendimento.horarioAtendimento.precoToString()}"></p>
            <a th:data-id="${atendimento.id}" data-toggle="modal" data-target="#modalStatusAtendimento" class="btn btn-primary">Alterar estado do atendimento</a>
          </span>
        </div>
      </div>
    </div>
    <div class="form-row border-bottom my-5">
      <h5 class="text-secondary mt-4 mb-4">Próximos atendimentos</h5>
    </div>
    <div class="container-fluid" th:if="${#lists.isEmpty(proximosAtendimentos)}">
      <p class="text-center text-secondary">Nenhum próximo atendimento</p>
    </div>
    <div class="container-fluid" th:unless="${#lists.isEmpty(proximosAtendimentos)}" th:each="atendimento : ${proximosAtendimentos}">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title"><span th:text="'Atendimento para '+${atendimento.tipoAtendimento}"></span></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <span th:text="'Cliente: '+${#strings.abbreviate(atendimento.cliente.pessoa.nome, 50)}+ ' - ' +${#strings.abbreviate(atendimento.cliente.pessoa.email, 50)}"></span>
          </h6>
          <span class="card-text">
            <p th:text="'Horário: '+${#dates.format(atendimento.horarioAtendimento.horarioInicio, 'dd/MM/yyyy HH:mm')} + '-' +${#dates.format(atendimento.horarioAtendimento.horarioFim, 'HH:mm')}"></p>
          	<p th:text="'Taxa de reserva: '+${atendimento.horarioAtendimento.precoToString()}"></p>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal profissional -->
  <div class="modal fade" id="modalStatusAtendimento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ACEITAR/RECUSAR ATENDIMENTO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="container-fluid ml-md-5 mr-md-5 mb-5" method="POST"  th:action="@{/profissional/aceitarRecusarAtendimento}">
            <div class="form-row">
              <input type="hidden" name="atendimentoId" value=""/>
              <div class="form-group col-md-8">
                <label class="text-secondary text-center" for="autorizacaoAtendimentoInput">Autorização</label>
                <select class="form-control mx-auto" name="autorizacaoAtendimento" id="autorizacaoAtendimentoInput" required>
                  <option value="" selected>Escolha</option>
                  <option value=true>Atendimento autorizado</option>
                  <option value=false>Atendimento não autorizado</option>
                </select>
              </div>
            </div>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>

      </div>
    </div>
  </div>

</th:block>
</body>

</html>