<!DOCTYPE html>
<html	lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
       	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorator="~{fragments/layout_usuario_logado}">
<head>
	<meta charset="UTF-8">
	<title>Editar</title>
</head>
<body>
	<th:block layout:fragment="content">
        <div class="profissionalSaudeForm container-fluid">
            <h2 class="text-secondary mb-4 mt-4 text-center">EDITAR PROFISSIONAL</h2>
            <form class="ml-md-5 mr-md-5 mb-5" method="POST" th:object="${profissionalSaude}" th:action="@{/profissional-saude/salvar}">
                <div th:if="${message}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${message}]]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <!-- <input type="hidden" th:field="*{pessoa.id}"/> -->
                <input type="hidden" th:field="*{usuario.id}"/>
                <input type="hidden" th:field="*{endereco.id}"/>

                <div class="form-row border-bottom my-5">
                    <h5 class="mb-0">Dados pessoais</h5>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="nomeProfissionalSaudeInput">Nome do Profissional</label> <input
                            class="form-control" id="nomeProfissionalSaudeInput" type="text"
                            th:field="*{nome}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cpfInput">CPF</label> <input class="form-control"
                                                                 id="cpfInput" type="text" th:field="*{cpf}"
                                                                 data-mask="000.000.000-00" data-mask-reverse="true"
                                                                 required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('cpf')}"
                                 th:errors="*{cpf}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="sexoProfissionalSaudeInput">Sexo</label>
                        <select class="form-control" th:field="*{sexo}" id="sexoProfissionalSaudeInput" required>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="emailProfissionalSaudeInput">E-mail</label> <input
                            class="form-control" id="emailProfissionalSaudeInput" type="text"
                            th:field="*{email}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('email')}"
                                 th:errors="*{email}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dataNascimentoProfissionalSaudeInput">Data de Nascimento</label> <input
                            class="form-control" id="dataNascimentoProfissionalSaudeInput" type="date"
                            th:field="*{dataNascimento}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('dataNascimento')}"
                                 th:errors="*{dataNascimento}">errors</div>
                        </div>
                    </div>
                </div>

                <div class="form-row border-bottom my-5">
                    <h5 class="mb-0">Dados profissionais</h5>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="tipoRegistroProfissionalInput">Tipo do Registro Profissional</label>
                        <select class="form-control" th:field="*{enumTipoRegistro}" id="tipoRegistroProfissionalInput" required>
                            <option th:each="tipoRegistro : ${T(br.ufrn.PDSgrupo5.extensions.model.EnumTipoRegistro).values()}"
                                    th:value="${tipoRegistro}" th:text="${tipoRegistro.descricao}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="numeroRegistroProfissionalInput">Número do Registro Profissional</label> <input
                            class="form-control" id="numeroRegistroProfissionalInput" type="text"
                            th:field="*{numeroRegistro}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('numeroRegistro')}"
                                 th:errors="*{numeroRegistro}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="DataAprovacaoRegistroInput">Data de Aprovação do Registro Profissional</label> <input
                            class="form-control" id="DataAprovacaoRegistroInput" type="date"
                            th:field="*{dataAprovacaoRegistro}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('dataAprovacaoRegistro')}"
                                 th:errors="*{dataAprovacaoRegistro}">errors</div>
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
				  <label for="descricaoProfissionalInput" class="form-label">Descrição</label>
				  <textarea class="form-control" id="descricaoProfissionalInput" rows="3" th:field="*{descricao}" required="required"></textarea>
				</div>


                <div class="form-row border-bottom my-5">
                    <h5 class="mb-0">Dados sobre endereço</h5>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cepProfissionalInput">CEP</label>
                        <input type="text" class="form-control" id="cepProfissionalInput" data-mask="00000-000" th:field="*{endereco.cep}" required="required">
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('endereco.cep')}"
                                 th:errors="*{endereco.cep}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ruaProfissionalInput">Rua</label> <input
                            class="form-control" id="ruaProfissionalInput" type="text"
                            th:field="*{endereco.rua}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('endereco.rua')}"
                                 th:errors="*{endereco.rua}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="bairroProfissionalInput">Bairro</label> <input
                            class="form-control" id="bairroProfissionalInput" type="text"
                            th:field="*{endereco.bairro}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('endereco.bairro')}"
                                 th:errors="*{endereco.bairro}">errors</div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="complementoProfissionalInput">Complemento</label>
                        <input type="text" class="form-control" id="complementoProfissionalInput" th:field="*{endereco.complemento}" required="required">
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('endereco.complemento')}"
                                 th:errors="*{endereco.complemento}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="numeroProfissionalInput">Número</label> <input
                            class="form-control" id="numeroProfissionalInput" type="number"
                            th:field="*{endereco.numero}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('endereco.numero')}"
                                 th:errors="*{endereco.numero}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cidadeProfissionalInput">Cidade</label> <input
                            class="form-control" id="cidadeProfissionalInput" type="text"
                            th:field="*{endereco.cidade}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('endereco.cidade')}"
                                 th:errors="*{endereco.cidade}">errors</div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </form>

        </div>
</body>
</html>